= simple_form_for(@admin_order) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :address
    = f.input :email
    = f.input :pay_type

  .form-actions
    = f.button :submit
