#top
  .container
    .col-md-6.offer{data: {animate: "fadeInDown"}}
      %a.btn.btn-success.btn-sm{ href: "#", data: {animate: {hover: "shake"}} }Offer of the day
      %a{ href: "#"} Get flat 35% off on orders over $50
    .col-md-6{data: {animate: "fadeInDown"}}
      %ul.menu
        %li= link_to 'Login', sign_in_path
        %li= link_to 'Register', new_user_path
        %li= link_to 'Contact', ''

.navbar.navbar-default.yamm#navbar{role: "navigation"}
  .container
    .navbar-header
      = link_to 'Polix', root_path, class: 'navbar-brand home', data: {animate: {hover: "bounce"}}
      .navbar-buttons
        %a.btn.btn-default.navbar-toggle{href: ""}
          %i.fa.fa-shopping-cart
          %span.hidden-xs 3 items in cart

    .navbar-collapse.collapse#navigation
      %ul.nav.navbar-nav.navbar-left
        %li.active= link_to 'Home', root_path
        %li.dropdown.yamm-fw
          %a{href: "#", class: "dropdown-toggle", data: {toggle: "dropdown", hover: "dropdown", delay: "200"}}
            %b.caret
            Man
          %ul.dropdown-menu
            %li= link_to 'Clothing', ''
            %li= link_to 'Shoes', ''
            %li= link_to 'Accessories', ''
        %li.dropdown.yamm-fw
          %a{href: "#", class: "dropdown-toggle", data: {toggle: "dropdown", hover: "dropdown", delay: "200"}}
            %b.caret
            Woman
          %ul.dropdown-menu
            %li= link_to 'Clothing', ''
            %li= link_to 'Shoes', ''
            %li= link_to 'Accessories', ''


#all
  #content
    .container
      .col-md-12
        #main-slider
          = render 'layouts/carousel'

  #advantages
    .container
      .same-height-row
        .col-sm-4
          .box.same-height.clickable
            .icon
              %i.fa.fa-heart
            %h3= link_to 'We Love Our Customers', ''
            %p We are known to provide best possible service ever

        .col-sm-4
          .box.same-height.clickable
            .icon
              %i.fa.fa-tags
            %h3= link_to 'Best prices', ''
            %p You can check that the height of the boxes adjust when longer text like this one is used in one of them.

        .col-sm-4
          .box.same-height.clickable
            .icon
              %i.fa.fa-thumbs-up
            %h3= link_to '100% satisfaction guaranteed', ''
            %p Free returns on everything for 3 months.

%hot
  .box
    .container
      .col-md-12
        %h2 Hot this week
  .container
    .product-slider
      - @products.each do |product|
        .item
          .product
            .flip-container
              .flipper
                .front
                  = image_tag(product.image.url(:thumb))