- unless @cart.line_items.empty?
  .col-lg-12.col-sm-12
    %span SHOPPING CART
  .col-lg-12.col-sm-12.hero-feature
    .table-responsive
      %table.table.table-bordered.tbl-cart
        %thead
          %tr 
            %td.hidden-xs Image
            %td Product Name
            %td Size
            %td Color
            %td.td-qty Quantity
            %td Unit Price
            %td Sub Total
            %td Remove

        %tbody
          - @cart.line_items.each do |item|
            %tr 
              %td.hidden-xs
                -#= link_to image_tag(item.product.image, height: 47, width: 47), ''
                - unless item.product.file_contents.blank?
                  = image_tag(image_product_path(item.product), height: 47, width: 47, class: 'img-responsive')
              %td= item.product.product_type

              %td= item.product.size
              %td= item.product.color
              %td
                = item.quantity 
                &times;
              %td.price= item.product.price
              %td= item.total_price
              %td.text-center
                = link_to fa_icon('trash-o'), '', class: "remove_cart", rel: 2
          %tr
            %td{colspan: 6, align: "right"} Total
            %td{class: "total", colspan: 2}
              %b= number_to_currency(@cart.total_price)

    .btn-group.btns-cart
      = link_to fa_icon("arrow-circle-left")+'Continue Shopping', products_path, class: 'btn btn-warning'
      = link_to 'Empty Cart', @cart, method: :delete, data: {confirm: "Are You Sure?"}, class: 'btn btn-danger'
      = link_to fa_icon("arrow-circle-right")+'Checkout', new_order_path, method: :get, class: 'btn btn-success'


