 <!-- Slider -->
  <div class="col-lg-9 col-md-12">
    <div class="slider">
      <div style="max-width: 100%;" class="bx-wrapper"><div style="width: 100%; overflow: hidden; position: relative; height: 352px;" aria-live="polite" class="bx-viewport">
      <ul style="width: 3215%; position: relative; transition-duration: 0.5s; transform: translate3d(-1676px, 0px, 0px);" class="bxslider">
        <li aria-hidden="true" class="bx-clone" style="float: left; list-style: outside none none; position: relative; width: 838px;">
          <%= link_to(image_tag("stock-photo--different-clothes-for-females-isolated-on-white-background-79498693.jpg")) %>
        </li>
        <li aria-hidden="true" style="float: left; list-style: outside none none; position: relative; width: 838px;">
          <%= link_to(image_tag("stock-photo--different-clothes-for-females-isolated-on-white-background-79498693.jpg")) %>
        </li>
        <li aria-hidden="false" style="float: left; list-style: outside none none; position: relative; width: 838px;">
          <%= link_to(image_tag("stock-photo--different-clothes-for-females-isolated-on-white-background-79498693.jpg")) %>
        </li>
        <li aria-hidden="true" style="float: left; list-style: outside none none; position: relative; width: 838px;">
          <%= link_to(image_tag("stock-photo--different-clothes-for-females-isolated-on-white-background-79498693.jpg")) %>
        </li>
        <li aria-hidden="true" class="bx-clone" style="float: left; list-style: outside none none; position: relative; width: 838px;">
          <%= link_to(image_tag("stock-photo--different-clothes-for-females-isolated-on-white-background-79498693.jpg")) %>
        </li>
      </ul>
    </div><div class="bx-controls bx-has-controls-direction"><div class="bx-controls-direction"><a class="bx-prev" href="">Prev</a><a class="bx-next" href="">Next</a></div></div></div>
  </div>
</div>