.header.text-center
  .container
    .row.visible-md.visible-lg
      .col-lg-4.col-md-4
        %h1.pull-left PolixClothing
      .col-lg-8.col-md-8
        .main-nav.pull-right
          .list-inline
            %li= link_to 'Home', root_path
            %li.divider
            %li= link_to 'About', ''
            %li.divider
            %li= link_to 'Contact', ''
    .row.visible-sm.visible-xs
      .col-sm-12
        %h1 Polix Clothing
      .col-sm-12
        .main-nav
          .list-inline
            %li= link_to 'Home', root_path
            %li.divider
            %li= link_to 'About', ''
            %li.divider
            %li= link_to 'Contact', ''