.footer
  .container
    .col-lg-3.col-md-3.col-sm-6
      .column
        %h4 Information
        %ul
          %li= link_to 'About Us', ''
          %li= link_to 'Policy Privacy', ''
          %li= link_to 'Terms and Conditions', ''
          %li= link_to 'Shipping Methods', ''
    .col-lg-3.col-md-3.col-sm-6
      .column
        %h4 Customer Service
        %ul
          %li= link_to 'Contact Us', ''
          %li= link_to 'YM: cs_', ''
          %li= link_to 'Phone: +6281234567891', ''
          %li= link_to 'Email: cs.domain@domain.tld', ''
    .col-lg-3.col-md-3.col-sm-6
      .column
        %h4 Information
        %ul
          %li= link_to 'About Us', ''
          %li= link_to 'Policy Privacy', ''
          %li= link_to 'Terms and Conditions', ''
          %li= link_to 'Shipping Methods', ''
    .col-lg-3.col-md-3.col-sm-6
      .column
        %h4 Follow Us
        %ul
          %li= link_to 'Google Plus', ''
          %li= link_to 'Facebook', ''
          %li= link_to 'Twitter', ''
          %li= link_to 'RSS Feed', ''
    .navbar-inverse.text-center.copyright
      Copyright © 2015 Polix All right reserved