%header
  .container
    .row
      .col-lg-4.col-md-3.hidden-sm.hidden-xs
        .well.logo
          %a{href: root_path}
            Polix 
            %span Online Shop
          %div Lorem ipsum dolo sit amet

      .col-lg-5.col-md-5.col-sm-7.col-xs-12
        .well
          %form{ action: ""}
            .input-group
              %input{ type: "text", class: "form-control input-search", placeholder: "Enter something to search"}
              %span.input-group-btn
                %button.btn.btn-default.no-border-left{type: "submit"}
                  %i.fa.fa-search

      .col-lg-3.col-md-4.col-sm-5
        .well
          .btn-group.btn-group-cart
            %button.btn.btn-default.dropdown-toggle{type: "button", data: {toggle: "dropdown"}}
              %span.pull-left
                %i.fa.fa-shopping-cart.icon-cart
              %span.pull-left Shopping Cart: 2 item(s)
              %span.pull-right
                %i.fa.fa-caret-down
            %ul.dropdown-menu.cart-content{ role: "menu"}
              %li 
                %a{href: ""}
                  %b Penn State College T-Shirt
                  %span x1 $55.90

%nav.navbar.navbar-inverse{ role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{ type: "button", data: {toggle: "collapse", target: ".navbar-ex1-collapse"}}
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Polix Online Shop', '', class: "navbar-brand visible-xs"
    .collapse.navbar-collapse.navbar-ex1-collapse
      .nav.navbar-nav
        %li= link_to 'Home', root_path
        %li= link_to 'Catalogue', products_path
        - Category.all.each do |cat|
          %li= link_to cat.name, cat
        %li.nav-dropdown
          %a{href: "", class: "dropdown-toggle", data: {toggle: "dropdown"}}
            Pages
            %span.caret
          %ul.dropdown-menu
            %li= link_to 'About Us', ''
            %li= link_to 'Contact Us', ''
            %li= link_to 'Login', ''
            %li= link_to 'Register', ''
            %li= link_to 'Product Details', ''