!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Polix Clothing'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Polix Clothing'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{class: "#{controller.controller_name}"}
    %header#banner
    %main.container{:role => "main"}
      .col-md-8
        = yield
      .col-md-3
        .panel.panel-default
          .panel-heading
            %h2 Order Summary
          .panel-body
            %p Shipping and additional costs are calculated based on the values you have entered.
            = render @cart
